# filepath: c:\Users\eliax\Desktop\repo_github\PokeMMI\public\backoffice\api\.htaccess
<Files "env.php">
    Require all denied
</Files>
<Files "config.php">
    Require all denied
</Files>
<Files "config_utils.php">
    Require all denied
</Files>
<Files ".env">
    Require all denied
</Files>
<Files "test_config.php">
    Require all denied
</Files>
